.App {
  background: linear-gradient(rgb(230, 107, 154), #64588f);
  display: flex;
  flex-direction: column;

  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../src/assets/bgrnd.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center center;
}
.navigation-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;

  justify-content: flex-start;
  align-items: center;
  background-color: #470b0b8f;
  color: #ffffff;
}

.nav-rightside {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* background-color: wheat; */
  height: 43px;
}
.nav-middleside {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 43px;
  /* background-color: rgb(74, 136, 94); */
}
.nav-leftSide {
  display: flex;
  flex-direction: row;
  /* background-color: #239eeb; */
  flex: 1;
  height: 43px;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 0px 10px 0px 10px;

  background-color: rgb(67, 60, 75);
  border: solid 1px whitesmoke;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.nav-item :hover {
  border-radius: 10px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(67, 60, 75);
  font-size: 30px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  font-size: large;
  outline-color: white;
  cursor: pointer;
  text-decoration: none;
}

.head {
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.checkbtn {
  font-size: 35px;
  color: white;
  cursor: pointer;
  display: none;
}

.nav-hamburger {
  background-color: #457b9d;
  flex: 1;

  height: 43px;
  display: none;
  justify-content: center;
  align-items: flex-end;
}

#check {
  display: block;
}

@media (max-width: 952px) {
  .head {
    font-size: 25px;
  }
  .checkbtn {
    font-size: 29px;
    display: flex;
  }
  .nav-hamburger {
    display: flex;
    background-color: #26475c;
    flex: 1 1 33%;
  }
  .nav-leftSide {
    order: 1;
    flex: 1 1 33%;
    padding-left: 0px;
    justify-content: center;
    display: flex;
  }

  .nav-middleside {
    flex: 1 1 33%;
  }
  .nav-rightside {
    display: none;
  }
  .navigation-bar {
    flex-wrap: wrap;
    height: 43px;
  }

  #check:checked ~ #left {
    display: none;
  }
}

.errorMessageDisplay {
  display: flex;
  flex: 3;

  width: 50%;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  font-weight: 500;
  font-size: large;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex: 4;
  width: 300px;
}
.loginInpt {
  width: 270px;
  height: 35px;
  border-radius: 7px;
  padding-left: 14px;
  border: none;
  margin: 5px;
}

input:focus {
  outline: none;
}

.notValidInput {
  width: 270px;
  height: 35px;
  border-radius: 7px;
  padding-left: 11.5px;
  border: none;
  border: solid 2.5px rgb(230, 43, 43);
  margin: 5px;
  /* outline: solid 2.4px red; */
}
.firstInputNotValidInput {
  width: 250px;
  height: 35px;
  border-radius: 7px;
  padding-left: 7px;
  border: solid 2.4px rgb(243, 60, 60);
}

.passwordInpt {
  width: 270px;
  height: 35px;
  border-radius: 7px;
  padding-left: 14px;
  margin: 5px;
  border: none;
  background-color: white;
  color: black;
}
.addImage {
  width: 270px;
  height: 35px;
  border-radius: 7px;
  margin: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}
.addImage:hover {
  opacity: 0.8;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.button {
  margin: 5px;
  background-color: rgb(67, 60, 75);
}
.inputContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 15px;
  /* background-color: #26475c; */
}
#imageUploadId:hover {
  opacity: 0.8;
}
/* .welcomeMessage {
  display: flex;
  align-self: center;
} */

.cards-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(192, 65, 65, 0.554);
  /* background-color: rgba(63, 25, 25, 0.5); */
  width: 100%;
  flex: 1;
}

.card {
  flex-direction: column;
  position: absolute;
  display: flex;
  width: 250px;
  height: 370px;
  background: #457b9d;
  pointer-events: none;
  border-radius: 10px;
}

.card-image-container {
  display: flex;
  align-self: center;
  flex: 5;
  margin-top: 1px;
  width: 250px;

  justify-content: center;
  align-items: flex-start;
}
.card-image {
  border-radius: 10px;
  background-color: #ddd6f3;

  width: 244px;
  height: 258px;
  object-fit: cover;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: solid 1px white;
}
.card-text {
  flex-direction: column;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
.card-text-container {
  background-color: rgba(16, 17, 19, 0.465);
  width: 250px;
  flex: 1;
  margin-top: 5px;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.card-buttons {
  display: flex;
  flex-direction: row;

  flex: 1;
  margin-bottom: 5px;
}
/* .card:hover {
  opacity: 60%;
} */
.card-button-left {
  display: flex;
  flex: 1;

  justify-content: center;
  align-items: flex-end;
  pointer-events: auto;
}
.card-button-right {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  pointer-events: auto;
}
.oval {
  width: 121px;
  height: 40px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(219, 26, 26, 0.801);
  color: white;
  border: solid 1px whitesmoke;
}

/* .card:hover > .card-button-right {
  transform: rotate(-20deg);
  animation-name: rotate-left;
  animation-duration: 0.5s;
} */
.card-button-right:hover {
  transform: rotate(5deg);
  animation-name: rotate-right;
  animation-duration: 0.3s;
}

.card-button-left:hover {
  transform: rotate(-5deg);
  animation-name: rotate-left;
  animation-duration: 0.3s;
}

.match-card {
  background-color: #161111;
  position: absolute;
  height: 400px;
  width: 455px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: solid 3px white;
}
.match-photo-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 95px;
}
.match-photo-1-container {
  flex: 1;

  display: flex;
  justify-content: center;
}
.match-photo-2-container {
  flex: 1;

  display: flex;
  justify-content: center;
}
.match-photo-1 {
  width: 110px;
  height: 110px;
  border-radius: 75px;
  border: solid 2px rgb(255, 255, 255);
  background-color: #caadad;
  object-fit: cover;
}
.match-photo-2 {
  width: 110px;
  height: 110px;
  border-radius: 75px;
  border: solid 2px rgb(255, 255, 255);
  background-color: #caadad;
  object-fit: cover;
}
.match-contgrats-message {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.match-button-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.match-button {
  float: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 35px;
  background-color: #caadad;
  border: solid 2px white;
  border-radius: 10px;
  margin: 5px;
  color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  font-size: large;
}
.match-button:hover {
  opacity: 80%;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes rotate-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(5deg);
  }
}
@keyframes rotate-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

/* ---------CHAT BOX STYLE--------------CHAT BOX STYLE-------------CHAT BOX STYLE------------- */

/* ------PROFILE IMAGE----------------PROFILE IMAGE ---------PROFILE IMAGE--------------- */

@media (max-width: 952px) {
  .chat-box {
    display: flex;
    height: 400px;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
    background-color: rgba(63, 25, 25, 0.5);
    margin-top: 15px;
    flex-wrap: 2;
    flex-basis: 50%;
  }

  .chat-container1 {
    height: 350px;

    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .chat-container2 {
    flex: 2;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat-container3 {
    margin-right: 20px;
    height: 380px;

    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    flex: 6;
    flex-direction: column;
    background-color: rgba(63, 25, 25, 0.3);
    border-radius: 20px;
  }
  .chat-container4 {
    display: flex;
    flex: 1;

    flex-direction: column;
  }
  .match-message-image {
    margin: 5px;
    width: 235px;
    height: 300px;
    border-radius: 35px;
    border: solid 2px rgb(255, 255, 255);
    background-color: #caadad;
    object-fit: cover;
  }
  .chat-profile-text {
    font-size: small;
    color: whitesmoke;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 5px;
  }
  .chat-text-input {
    flex: 14;
    border-radius: 35px;
    padding-left: 20px;
    border: solid 2px rgb(255, 255, 255);
    font-size: medium;
    font-weight: 700;
    color: #313030;
  }
  .send-icon {
    size: 15px;
    width: 25px;
    height: 25px;
    color: #313030;
  }
  .chat-name {
    display: flex;
    color: floralwhite;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .text_message {
    display: flex;
    padding-right: 10px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: small;
    margin: 10px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
  }
  .text_message_from_match {
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: rgba(218, 35, 35, 0.3);

    border-radius: 10px;

    padding-right: 10px;
    padding-left: 10px;
  }
  .chat-input-send-icon {
    flex: 1;
    border-radius: 35px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .match-chat-text-message-style {
    display: flex;
    color: rgb(248, 248, 248);
    font-size: 12px;
    font-weight: 200;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
/* ------PROFILE INFORMATION----------------PROFILE INFORMATION ---------PROFILE INFORMATION--------------- */

/* --------CHAT SECTION---------------CHAT SECTION------------------CHAT SECTION------------- */
@media (min-width: 952px) {
  .chat-box {
    display: flex;
    height: 450px;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
    background-color: rgba(63, 25, 25, 0.5);
    margin-top: 15px;
  }

  .chat-container1 {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 420px;

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat-container2 {
    height: 420px;

    width: 200px;
    margin-top: 15px;
    margin-bottom: 10px;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat-container3 {
    margin-right: 20px;
    height: 420px;

    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    flex: 5;
    flex-direction: column;
    background-color: rgba(63, 25, 25, 0.3);
    border-radius: 20px;
  }
  .chat-container4 {
    flex-direction: row;
    flex: 4;
    display: flex;
  }
  .match-message-image {
    margin: 10px;
    width: 335px;
    height: 420px;
    border-radius: 35px;
    border: solid 2px rgb(255, 255, 255);
    background-color: #caadad;
    object-fit: cover;
  }
  .chat-profile-text {
    font-size: medium;
    color: whitesmoke;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 10px;
  }
  .chat-text-input {
    flex: 14;
    border-radius: 35px;
    padding-left: 20px;
    border: solid 2px rgb(255, 255, 255);
    font-size: large;
    font-weight: 700;
    color: #313030;
  }
  .send-icon {
    size: 20px;
    width: 30px;
    height: 30px;
    color: #313030;
  }
  .chat-name {
    display: flex;
    color: floralwhite;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .text_message {
    display: flex;
    padding-right: 15px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.3);

    margin: 10px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    border-radius: 15px;
  }
  .text_message_from_match {
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: rgba(218, 35, 35, 0.3);

    border-radius: 15px;

    padding-right: 15px;
    padding-left: 15px;
  }
  .chat-input-send-icon {
    flex: 1;
    border-radius: 35px;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .match-chat-text-message-style {
    display: flex;
    color: rgb(248, 248, 248);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.chat-chatborder {
  flex: 1;
  display: flex;
  background-color: rgba(31, 22, 22, 0.2);
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.chat-chatborder2 {
  display: flex;
  flex-direction: column;
  flex: 8;
  scroll-behavior: inherit;
  overflow-y: scroll;
  width: 100%;
}
.newMessages {
  position: absolute;
  display: flex;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  justify-content: center;

  align-items: center;
  font-size: large;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.575);
  left: 67%;
  top: 68%;
  transform: translate(-50%, -50%);
}

.chat-chatborder3 {
  display: flex;
  flex: 1;
  width: 100%;
  border: solid 2px #313030;
  border-radius: 35px;
  background-color: #ffffff;
}

.send-icon:hover {
  opacity: 50%;
}

.text-box {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.text-box-for-match {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.background-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  /* background-color: wheat; */
}
.flexBox1 {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #ffffff;

  font-size: 35px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image-background {
  background-image: url("../src/assets/bgrnd.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center center;
  /* Center and scale the image nicely */
}
